@charset "utf-8";
/*서브디자인 영역*/

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

/*서브비주얼*/

.sub_top {
  position: relative;
}

.subVisual {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  min-height: 440px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background: url(../image/sub/sub_visual_01.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}

.subVisual .tit_wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  transform: translateY(-35%);
  text-align: center;
}

.subVisual .tit_wrap h2.tit {
  font-size: 60px;
  font-weight: 700;
}

.nv-menu {
  position: absolute;
  z-index: 10;
  bottom: -35px;
  left: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1340px;
  border-radius: 12px;
  background: #020a14;
  transform: translateX(-50%);
}

.nv-menu div {
  position: relative;
}

.nv-menu div::after {
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 30px;
  background: #666;
  content: "";
}

.nv-menu .home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 70px;
}

.nv-menu .subMenu {
  position: relative;
  width: 100%;
  max-width: 340px;
}

.nv-menu .subMenu ul {
  display: none;
  height: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nv-menu .subMenu button {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: normal;
}

.nv-menu .subMenu button::after {
  position: absolute;
  top: 28px;
  right: 20px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/image/sub/nv_arrow.svg) no-repeat;
  background-size: cover;
  content: "";
}

nav.sub_dep3 {
  max-width: 1340px;
  margin: 94px auto 60px;
}

nav.sub_dep3 ul {
  position: relative;
  display: flex;
  gap: 20px;
}

nav.sub_dep3 li:first-child:nth-last-child(4),
nav.sub_dep3 li:first-child:nth-last-child(4)~li {
  width: 25%;
}

nav.sub_dep3 li.on a {
  color: #0075c2;
  border-bottom: 2px solid #0075c2;
}

nav.sub_dep3 li a {
  display: block;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
  text-align: left;
  position: relative;
  color: #666666;
  border-bottom: 2px solid #ccc;
}

nav.sub_dep3 li.on a:before {
  background: url(../image/sub/dep3_i_on.svg) 0 0 no-repeat;
}

nav.sub_dep3 li a:before {
  content: "";
  background: url(../image/sub/dep3_i_off.svg) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.util_list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.util_list ul {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.util_list::after {
  content: "";
  position: absolute;
  display: none;
}

.util_list ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.util_list .share_box .sns_btn {
  width: 100%;
  height: 100%;
  color: #fff;
}

.share_box_on {
  display: none;
  max-height: 0px;
  position: absolute;
  right: 55px;
  height: 5rem;
  top: 0px;
  background: #fff;
  width: 14rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3rem;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  text-align: center;
}

.share_box_on.active {
  display: block;
}

.share_box_on .send ul {
  display: flex;
  justify-content: center;
}

.share_box_on .send li .fb {
  background-position: 0 0;
}

.share_box_on .send li .tw {
  background-position: -25px 0;
}

.share_box_on .send li .na {
  background-position: -100px 0;
}

.share_box_on .send li .ur {
  background-position: -150px 0;
}

.share_box_on .send li button {
  width: 25px;
  height: 25px;
  background: url(../image/common/ico-sub-share.png) no-repeat;
  text-indent: -9999px;
}

.share_box_on .close {
  position: absolute;
  right: -5.7rem;
  top: -0.2rem;
  background: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: #000;
}

.share_box_on .close i {
  color: initial;
}

.util_list button i,
.util_list i {
  font-size: 18px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
}

.ri-share-line::before {
  content: "\f0fe";
}

.ri-printer-line::before {
  content: "\f029";
}

.content_sub .content {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto 60px;
}

/*s0102 인사말씀*/
.s0102 .sub_inner .title {
  position: relative;
  display: flex;
  overflow: visible;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 514px;
  margin-bottom: 60px;
  gap: 40px;
}

.s0102 .sub_inner .title::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 514px;
  background: url(../image/sub/s0102_title_bg.png) 0 0 no-repeat;
  background-size: 100% auto;
  content: "";
  transform: translateX(-50%);
}

.s0102 .sub_inner .title::after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 1920px;
  height: 514px;
  background: #ffffff;
  content: "";
}

.s0102 .sub_inner .title h2 {
  flex: 1;
  min-width: 0;
  line-height: 150%;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #111111;
  font-size: 40px;
  font-weight: 700;
}

.s0102 .sub_inner .title h2 p span.tit_color {
  color: #0075c2;
  font-size: 60px;
  font-weight: 700;
}

.s0102 .sub_inner .title .Mayor_box {
  position: absolute;
  z-index: 3;
  right: 0;
  flex-shrink: 0;
  width: 490px;
}

.s0102 .sub_inner .title .Mayor_box p.sign {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 30px;
}

.s0102 .sub_inner .title .Mayor_box p.sign img {
  margin-left: 10px;
}

.s0102 .sub_inner .con_wrap {
  position: relative;
  z-index: 1;
  margin-top: -514px;
}

.s0102 .sub_inner .con_wrap p.exp {
  line-height: 180%;
  color: #333333;
  font-size: 19px;
}

/*서브디자인 영역 마침*/