@charset "utf-8";

.wrapper {
  width: 100%;
  margin: 0 auto;
}
/*헤더 -----------------------------------------*/
.header {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.gnb {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 112px;
  padding-left: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.gnb .logo img {
  width: 185px;
}
/*접근성*/
.logo:focus-visible img {
  border-radius: 4px;
  outline: 1px solid #ff9d2b;
}
.gnb .nav {
  width: 100%;
  height: 100%;
}
/* nav */
.nav > ul {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 24px;
}
.nav > ul > li {
  position: relative;
  min-width: 100px;
}
.nav > ul > li > a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 18px;
}
.mainnav > ul > li > a {
  color: #fff;
}
.nav > ul > li > ul {
  position: absolute;
  top: 112px;
  left: 0;
  display: none;
  width: 100%;
  text-align: center;
}
.nav > ul > li > ul {
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
}
.nav > ul > li > ul > li > a {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}
.nav > ul > li > ul > li > a:hover {
  color: white;
  background-color: #eb5402;
}
/*접근성*/
a:focus-visible {
  border-radius: 4px;
  outline: 1px solid #ff9d2b;
}
.nav > ul > li > ul {
  position: absolute;
  z-index: 10;
  top: 112px;
  left: 0;
  display: none;
  width: 100%;
  text-align: center;
}
/* lang */
.lang {
  position: relative;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.lang_btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.lang_menu {
  position: absolute;
  top: 112px;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
}
.lang_menu a {
  display: none;
  box-sizing: border-box;
  padding: 10px 32px;
}
.lang_menu a:hover {
  color: white;
  background-color: #eb5402;
}
.mr12 {
  margin-right: 12px;
}
/*map*/
.gnb .map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.gnb .map i {
  color: #fff;
  font-size: 18px;
}
/*배너 -----------------------------------------*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* 타이틀 */
.banner .banner_title {
  position: absolute;
  z-index: 3;
  top: 34%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  color: #fff;
  transform: translate(-50%, 0%);
  gap: 12px;
}
.banner .banner_title span {
  display: inline;
  color: #fff;
}
/* 서브 타이틀 */
.banner .sub_title {
  background-image: linear-gradient(120deg, #e2fdfa 10%, #ffffff 20%, #ffffff 69.98%, #e2fdfa 99.95%);
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
}
/* 서브 타이틀 애니메이션 효과 */
.banner .sub_title {
  background-image: linear-gradient(-45deg, #33f5e1 5%, #ffffff 10%, #ffffff 30%, #e2fdfa 70%, #33f5e1 90%);
  background-size: 550px 100%;
  animation: gradient 8s ease infinite;
  animation-iteration-count: 1; /* 한번 재생 */
  animation-fill-mode: forwards;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/* 메인 타이틀 */
.banner .main_title {
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 170%;
  background-image: linear-gradient(120deg, #33f5e1 1%, #e2fdfa 10%, #ffffff 20%, #e2fdfa 60%, #33f5e1 70%);
  -webkit-background-clip: text;
  white-space: nowrap;
  font-size: 80px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  gap: 18px;
}
.banner .main_title img {
  width: 180px;
  height: 77px;
}
/* 메인 타이틀 애니메이션 효과 */
.banner .main_title {
  background-image: linear-gradient(-45deg, #33f5e1 20%, #ffffff 30%, #ffffff 40%, #e2fdfa 60%, #33f5e1 70%);
  background-size: 1300px 100%;
  animation: gradient 2s ease infinite;
  animation-iteration-count: 1; /* 한번 재생 */
  animation-fill-mode: forwards;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/* 날짜 */
.banner .banner_title .day {
  display: flex;
  display: inline-block;
  flex-direction: row;
  line-height: 150%;
  font-family: "S-Core Dream";
  font-size: 36px;
  font-weight: 700;
}
.banner .banner_title .place {
  display: flex;
  display: inline-block;
  flex-direction: row;
  line-height: 150%;
  font-family: "S-Core Dream";
  font-size: 20px;
  font-weight: 500;
}

/*swiper*/
.banner .swiper {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner .swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 18px;
}
.banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .swiper {
  margin-right: auto;
  margin-left: auto;
}
.banner .swiper-button-next,
.banner .swiper-button-prev {
  position: absolute;
  z-index: 10;
  top: var(--swiper-navigation-top-offset, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--swiper-navigation-size) / 44 * 60);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  color: #fff !important;
  cursor: pointer;
}
.banner .swiper-pagination-bullet {
  display: inline-block;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  background: var(--swiper-pagination-bullet-inactive-color, rgba(255, 255, 255, 0.5));
}
.banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
}
.banner .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: var(--swiper-pagination-top, auto);
  bottom: var(--swiper-pagination-bottom, 60px);
  left: 0;
  width: 100%;
}
/*유튜브 소개영상 링크 버튼*/
.banner .link {
  position: absolute;
  z-index: 1;
  bottom: 160px;
  left: 50%;
  display: inline-block;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}
.banner .link__svg {
  width: 100%;
  height: 100%;
  stroke: #111111;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.05em;
  fill: #111111;
}
#link-circle {
  fill: #111111;
}
.banner .link__arrow {
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: 50% 50%;
  stroke-width: 0.075em;
}
.banner .link:hover .link__arrow {
  transform: scale(1.1);
}
.banner .link__text {
  transform-origin: 50% 50%;
  animation: rotateReverse 20s linear infinite;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 300;
  stroke: none;
  fill: white;
}
.banner .link:hover .link__text {
  animation-play-state: paused;
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
/*메인 컨텐츠-----------------------------------------*/
/*주요연사*/
.maincontent .speaker {
  padding: 60px 0;
  background-image: url("/image/speaker_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.maincontainer {
  margin: 0 290px;
}
.maincontainer .speaker_box_wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.maincontainer .speaker_box {
  position: relative;
  width: 100%;
  height: 100%;
}
.maincontainer .speaker_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
}
.maincontainer .speaker_img:before {
  display: block;
  padding-bottom: 100%;
  content: "";
}
.maincontainer .speaker_img {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
  -webkit-mask-image: url("/image/mask2.svg");
  mask-image: url("/image/mask2.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.maincontainer .speaker_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  object-fit: cover;
}
.maincontainer .speaker_mask:after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 12%;
  padding-bottom: 12%;
  background-color: transparent;
  background-image: url("/image/more.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  content: "";
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}
.maincontainer .speaker_mask:hover::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.maincontainer .speaker_mask:hover .speaker_img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.speaker_img .name {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 150%;
  padding: 24px 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 600;
}
.speaker_img .name p {
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
}
.cont_title {
  line-height: 120%;
  margin-bottom: 24px;
  font-size: 60px;
  font-weight: 600;
}
.cont_title span {
  color: #0075c2;
}
.cont_title p {
  color: #666666;
  font-size: 20px;
  font-weight: 400;
}
.speaker_box a.more {
  position: relative;
  z-index: 0;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  padding: 4px 18px 4px 4px;
  border-radius: 100px;
  color: #fff;
  background-color: #111111;
  transition: color 0.4s;
  font-size: 16px;
}
.speaker_box a.more::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #0075c2;
  content: "";
  transition: left 0.3s ease;
}
.speaker_box a.more:hover::before {
  left: 0;
}
.speaker_box a.more i {
  z-index: 1;
  padding: 16px;
  margin-right: 8px;
  border-radius: 100px;
  color: #fff;
  background-color: #0075c2;
  font-size: 16px;
}

/*바로가기 링크*/
.maincontent .links {
  background-image: url("/image/quickmenu_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.links .maincontainer {
  display: flex;
  justify-content: space-between;
}
.maincontent .links .speaker_box {
  position: relative;
  width: fit-content;
  height: 100%;
}
.maincontent .links .cont_title {
  margin-top: 60px;
  color: #fff;
}
.maincontent .link_box tr:first-child {
  max-width: 880px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.maincontent .link_box td {
  width: calc(100 / 3);
  height: 320px;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  border-collapse: collapse;
}
.maincontent .link_box td i {
  font-size: 28px;
}
.maincontent .link_box td a {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 32px;
  color: #fff;
  transition: color 0.3s ease;
}

.maincontent .link_box a::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  background-color: #0075c2;
  content: "";
  transition: opacity 0.6s ease;
}
.maincontent .link_box a:hover::before {
  opacity: 1;
}
.maincontent .link_box .more {
  display: flex;
  justify-content: right;
  width: 100%;
}
.maincontent .link_box .td_buttom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.maincontent .link_box .link_title {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 600;
}
.maincontent .link_box .link_title p {
  padding-top: 18px;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}
/*공지사항*/
.maincontent .notice {
}
/*갤러리*/
.maincontent .gallery {
}
/*파트너*/
.maincontent .fartners {
}
/*푸터 -----------------------------------------*/
.btn_more {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #111111;
}
.btn_more i {
  color: #fff;
  font-size: 32px;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 150%;
  padding: 30px 0;
  border-top: 1px solid #ccc;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}
