@charset "utf-8";
/*서브디자인 영역*/

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

/*서브비주얼*/

.sub_top {
  position: relative;
}

.subVisual {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  min-height: 440px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background: url(../image/sub/sub_visual_01.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}

.subVisual .tit_wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  transform: translateY(-35%);
  text-align: center;
}

.subVisual .tit_wrap h2.tit {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

/*LNB*/

.nv-menu {
  position: absolute;
  z-index: 10;
  bottom: -35px;
  left: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1340px;
  border-radius: 12px;
  background: #020a14;
  transform: translateX(-50%);
}

.nv-menu div {
  position: relative;
}

.nv-menu div::after {
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 30px;
  background: #666;
  content: "";
}

.nv-menu .home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 70px;
}

.nv-menu .subMenu {
  position: relative;
  width: 100%;
  max-width: 340px;
}

.nv-menu .subMenu ul {
  display: none;
  position: absolute;
  width: 100%;
  height: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nv-menu .subMenu button {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: normal;
}

.nv-menu .subMenu button::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 20px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/image/sub/nv_arrow.svg) no-repeat;
  background-size: cover;
<<<<<<< HEAD
  <<<<<<< HEAD transition: transform 0.3s ease;
=======
  transition: transform 0.3s ease;
>>>>>>> ef7cd649183a944dc3d23e811980b409a7200246
}

.nv-menu .subMenu button.on::after {
  transform: rotate(180deg);
}

.nv-menu .subMenu ul li:hover a,
.nv-menu .subMenu ul li.on a {
  background: #ddd;
  font-weight: 600;
}

.nv-menu .subMenu ul li a {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  line-height: 70px;
  font-size: 19px;
  font-weight: 600;
  color: #333333;
  background: #F9F9F9;
  padding: 0 20px;
<<<<<<< HEAD
  =======content: "";
  >>>>>>>97b07aa4f0af340edded36404622ba3cd874f258
=======
>>>>>>> ef7cd649183a944dc3d23e811980b409a7200246
}

nav.sub_dep3 {
  max-width: 1340px;
  margin: 94px auto 60px;
}

nav.sub_dep3 ul {
  position: relative;
  display: flex;
  gap: 20px;
}

nav.sub_dep3 li:first-child:nth-last-child(4),
nav.sub_dep3 li:first-child:nth-last-child(4)~li {
  width: 25%;
}

nav.sub_dep3 li.on a {
  color: #0075c2;
  border-bottom: 2px solid #0075c2;
}

nav.sub_dep3 li a {
  display: block;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
  text-align: left;
  position: relative;
  color: #666666;
  border-bottom: 2px solid #ccc;
}

nav.sub_dep3 li.on a:before {
  background: url(../image/sub/dep3_i_on.svg) 0 0 no-repeat;
}

nav.sub_dep3 li a:before {
  content: "";
  background: url(../image/sub/dep3_i_off.svg) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.util_list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.util_list ul {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.util_list::after {
  content: "";
  position: absolute;
  display: none;
}

.util_list ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.util_list .share_box .sns_btn {
  width: 100%;
  height: 100%;
  color: #fff;
}

.share_box_on {
  display: none;
  max-height: 0px;
  position: absolute;
  top: 0px;
}

.share_box_on::after {
  content: "";
  display: none;
}

.share_box_on.active {
  display: block;
}

.share_box_on .send ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.share_box_on .send::after {
  content: "";
  display: none;
}

.share_box_on .send li .fb {
  background-position: 0 0;
  margin-top: 10px;
}

.share_box_on .send li .tw {
  background-position: -40px 0;
}

.share_box_on .send li .na {
  background-position: -160px 0;
}

.share_box_on .send li .ur {
  background-position: -200px 0;
}

.share_box_on .send li button {
  width: 40px;
  height: 40px;
  background: url(../image/common/ico-sub-share.svg) no-repeat;
  text-indent: -9999px;
}

.share_box_on .close_btn {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: url(../image/common/ico-sub-share.svg) no-repeat -280px 0;
  text-indent: -9999px;
  z-index: 20;
}

.util_list button i,
.util_list i {
  font-size: 18px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
}

.ri-share-line::before {
  content: "\f0fe";
}

.ri-printer-line::before {
  content: "\f029";
}

.content_sub .content {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto 60px;
}

/*s0102 인사말씀*/

.s0102 .sub_inner .title {
  position: relative;
  display: flex;
  overflow: visible;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 514px;
  margin-bottom: 60px;
  gap: 40px;
}

.s0102 .sub_inner .title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 514px;
  background: url(../image/sub/s0102_title_bg.png) 0 0 no-repeat;
  background-size: 100% auto;
  transform: translateX(-50%);
}

.s0102 .sub_inner .title::after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 1920px;
  height: 514px;
  background: #ffffff;
  content: "";
}

.s0102 .sub_inner .title h2 {
  flex: 1;
  min-width: 0;
  line-height: 150%;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #111111;
  font-size: 40px;
  font-weight: 700;
}

.s0102 .sub_inner .title h2 p span.tit_color {
  color: #0075c2;
  font-size: 60px;
  font-weight: 700;
}

.s0102 .sub_inner .title .Mayor_box {
  position: absolute;
  z-index: 3;
  right: 0;
  flex-shrink: 0;
  width: 490px;
}

.s0102 .sub_inner .title .Mayor_box p.sign {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 30px;
}

.s0102 .sub_inner .title .Mayor_box p.sign img {
  margin-left: 10px;
}

.s0102 .sub_inner .con_wrap {
  position: relative;
  z-index: 1;
  margin-top: -514px;
}

.s0102 .sub_inner .con_wrap p.exp {
  line-height: 180%;
  color: #333333;
  font-size: 19px;
}

/*s0103 오시는길*/

.s0103 .sub_inner .map_top {
  display: flex;
  align-items: center;
}

.s0103 .sub_inner .map_top .info_l .info_l__name {
  font-size: 32px;
  font-weight: 700;
  color: #111111;
}

.s0103 .sub_inner .map_top .info_l .info_l__address {
  font-size: 19px;
  margin: 20px 0 0 0;
  color: #333333;
}

.s0103 .sub_inner .map_top .info_m {
  position: relative;
  margin-left: 60px;
  padding-left: 30px;
}

.s0103 .sub_inner .map_top .info_m li.interval {
  padding-top: 20px;
}

.s0103 .sub_inner .map_top .info_m li span.tit {
  display: inline-block;
  position: relative;
  min-width: 60px;
  font-weight: 600;
  margin-right: 20px;
  line-height: 170%;
}

.s0103 .sub_inner .map_top .info_m li span.tit1::before {
  content: "";
  position: absolute;
  background: url(../image/sub/tel_ic.svg) 0 0 no-repeat;
  width: 18px;
  height: 18px;
  top: 50%;
  left: -28px;
  transform: translate(0, -50%);
}

.s0103 .sub_inner .map_top .info_m li span.tit2::before {
  content: "";
  position: absolute;
  background: url(../image/sub/mail_ic.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -30px;
  transform: translate(0, -50%);
}

.s0103 .sub_inner .map_top .info_r {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.s0103 .sub_inner .map_top .info_r a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 152px;
  height: 80px;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 12px;
  background: #f0f0f0;
  line-height: 1em;
}

.s0103 .sub_inner .map_top .info_r a img {
  margin-right: 12px;
}

.root_daum_roughmap .cont {
  display: none;
}

.s0103 .sub_inner .con_wrap {
  margin-top: 60px;
}

h2.tit {
  position: relative;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #111111;
}

h3.tit {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

h3.tit::before {
  content: '';
  position: absolute;
  background: url(../image/sub/h3_tit_ic.svg) 0 0 no-repeat;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.s0103 .sub_inner .con_wrap .item_l {
  border-top: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 60px 0;
}

.s0103 .sub_inner .con_wrap .item_l .tit_box {
  width: 200px;
  padding-right: 20px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r {
  width: calc(100% - 200px);
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_tit {
  font-size: 20px;
  font-weight: 600;
  color: #172c64;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_tit:nth-of-type(2) {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_tit span.route_arrow {
  position: relative;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_tit span.route_arrow::before {
  content: url("../image/sub/s0103_route_arrow_ic.svg");
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item {
  padding-top: 30px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item:nth-child(4) {
  padding-bottom: 30px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: 19px;
  font-weight: 600;
  color: #333333;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_label::before {
  content: url("../image/sub/s0103_bus_ic.svg");
  display: inline-block;
  vertical-align: middle;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_label span.route_num {
  background: #111111;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_details ol.route_steps {
  padding-top: 20px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_details ol.route_steps li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 180%;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_details ol.route_steps li::after {
  content: url(../image/sub/s0103_route_arrow_b_ic.svg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_details ol.route_steps li:last-child::after {
  content: none;
}

.s0103 .sub_inner .con_wrap .item_l .item_r .route_item .route_details ol.route_steps li span.badge {
  background: #f8f8f8;
  border: 1px solid #cccccc;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 17px;
  color: #333333;
  margin-right: 10px;
}

.s0103 .sub_inner .con_wrap .Other_info {
  position: relative;
  background: #f4f4f8;
  border-radius: 12px;
}

.s0103 .sub_inner .con_wrap .Other_info .txt_wrap {
  position: relative;
  overflow: hidden;
  padding: 30px 30px;
}

.s0103 .sub_inner .con_wrap .Other_info .txt_wrap::before {
  content: "";
  position: absolute;
  background: url(../image/sub/s0103_bus_img.png) 0 0 no-repeat;
  top: -53px;
  right: -51px;
  width: 347px;
  height: 301px;
}

.s0103 .sub_inner .con_wrap .Other_info .txt_wrap h3.exp {
  position: relative;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.s0103 .sub_inner .con_wrap .Other_info .txt_wrap p.detail {
  display: inline-block;
  font-size: 17px;
  color: #333333;
  vertical-align: top;
  line-height: 180%;
}

/*s0104 파트너*/

.s0104 .sub_inner .con_wrap .partner_list {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.s0104 .sub_inner .con_wrap .partner_list:last-child {
  padding-bottom: 0;
}

.s0104 .sub_inner .con_wrap .partner_list ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 32px;
}

.s0104 .sub_inner .con_wrap .partner_list ul li {
  width: calc((100% - 32px * 3) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.s0104 .sub_inner .con_wrap .partner_list ul li img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block;
}

/*s0301 연사소개*/

.searchForm {}

.board-search-wrap {
  display: flex;
  justify-content: center;
}

.board-search {
  width: 100%;
  max-width: 440px;
  border-bottom: 1px solid #111111;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
}

.board-search .board_inner {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 63px;
}

.board-search select {
  flex-shrink: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 17px;
  color: #333;
  background-image: url('/image/common/ico_select.svg');
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: right 5px center;
  text-align: left;
}

.board-search select option {
  font-size: 17px;
  color: #333333;
}

.board-search input {
  width: 100%;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  color: #333333;
  font-size: 17px;
  flex: 1;
  min-width: 0;
}

.board-search .search {
  width: 60px;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pageinfo {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageinfo dl {
  display: flex;
  align-items: center;
}

.pageinfo dl::before {
  font-family: "Remixicon";
  font-style: normal;
  content: "\eced";
  margin-top: 2px;
  margin-right: 6px;
}

.pageinfo dl dt {
  position: relative;
}

.pageinfo dl dd {
  position: relative;
}

.pageinfo dl dd b {
  margin: 0 3px 0 5px;
  color: #fe3c01;
}

.page-veiw-opt {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
}

.page-veiw-opt .form-select,
.page-veiw-opt .btn-opt-view {
  height: 36px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}

.page-veiw-opt .form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../image/common/ico_select.svg)0 0 no-repeat;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
  padding-right: 30px;
}

.btn-opt-view {
  background: #111;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  height: 100%;
  border-radius: 6px;
}



/*서브디자인 영역 마침*/